Repository idleberg/vscode-nsis: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-code, eslint-json, eslint-yaml

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-code:
      glob: "*.{js,ts}"
      run: npx eslint --cache --fix {staged_files}
    eslint-json:
      glob: "*.{json}"
      run: npx eslint --cache --fix {staged_files}
    eslint-yaml:
      glob: "*.{yaml,yml}"
      run: npx eslint --cache --fix {staged_files}

remove unused dependency
  package.json
Due: none

update file paths
  .github/workflows/default.yml
Due: eslint-yaml

update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

improve error logging
  src/diagnostics.ts
  src/makensis.ts
  src/task.ts
  src/util.ts
Due: eslint-code

improve path handling on windows
  src/util.ts
Due: eslint-code

use customArguments in diagnostics
  src/diagnostics.ts
Due: eslint-code

add options for custom arguments in diagnostics mode
  package.json
  package.nls.json
  src/diagnostics.ts
Due: eslint-code

rename option
  package.json
  package.nls.json
  src/diagnostics.ts
Due: eslint-code

add hasArguments
  src/util.ts
Due: eslint-code

add order props, enumeration descriptions
  package.json
Due: none

update wording
  package.nls.json
Due: none

readd activationEvents for ovsx
  package.json
Due: none

fix ternary
  src/diagnostics.ts
Due: eslint-code

add code fence support, update dependencies
  package.json
  pnpm-lock.yaml
  syntaxes/codeblock.json
Due: eslint-yaml

refactor
  src/diagnostics.ts
  src/makensis.ts
Due: eslint-code

rename eslint file
  .eslintrc.cjs
Due: none

fix lockfile name
  .github/workflows/default.yml
Due: eslint-yaml

update badges
  README.md
Due: none

re-add activation events
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

version bump
  CHANGELOG.md
Due: none

bump pnpm to v8
  .github/workflows/default.yml
Due: eslint-yaml

add .npmrc
  .npmrc
Due: none

add workflow_dispatch as trigger
  .github/workflows/default.yml
Due: eslint-yaml

include workflow actions
  .github/workflows/default.yml
Due: eslint-yaml

4.0.0
  package.json
Due: none

fix badges
  README.md
Due: none

update readme
  README.md
Due: none

update start script
  package.json
Due: none

move image resources
  README.md
  gulpfile.mjs
  package.json
  resources/dark/build.svg
  resources/dark/command.svg
  resources/dark/flag.svg
  resources/dark/info.svg
  resources/dark/settings.svg
  resources/dark/task.svg
  resources/icon--build-strict-dark.svg
  resources/icon--build-strict-light.svg
  resources/light/build.svg
  resources/light/command.svg
  resources/light/flag.svg
  resources/light/info.svg
  resources/light/settings.svg
  resources/light/task.svg
  resources/logo.png
  resources/screenshot.png
Due: none

rename files
  resources/dark/build-strict.svg
  resources/light/build-strict.svg
Due: none

add missing types
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

use multiple subscription.push commands
  src/index.ts
Due: eslint-code

update svg path
  .vscodeignore
Due: none

update paths
  package.json
Due: none

4.0.1
  package.json
Due: none
