Repository idleberg/vscode-nsis: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-code, eslint-json, eslint-yaml

eslint-code:
  run: npx eslint --cache --fix {staged_files}

eslint-json:
  run: npx eslint --cache --fix {staged_files}

eslint-yaml:
  run: npx eslint --cache --fix {staged_files}

version bump
  CHANGELOG.md
Due: none

update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

revert button handling
  src/callbacks.ts
Due: eslint-code

4.4.0
  package.json
Due: none

add publish scripts
  package.json
Due: none

fix regexp
  package.json
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: eslint-yaml

remove stray description
  README.md
Due: none

pass calling process env when launching makensis
  src/util.ts
Due: eslint-code

sort
  tsup.config.ts
Due: eslint-code

fix linting errors
  src/nlf.ts
  src/util.ts
Due: eslint-code

replace npm-run-all
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

wording
  CHANGELOG.md
Due: none

downgrade vscode types
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

4.4.1
  package.json
Due: none

prefix v4 versions
  CHANGELOG.md
Due: none

ts-check eslint config
  eslint.config.mjs
Due: none

set $LANG
  src/util.ts
Due: eslint-code

add comments
  src/util.ts
Due: eslint-code

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: update workflow actions
  .github/workflows/default.yml
Due: eslint-yaml

chore: use commitlint
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint-code, eslint-yaml

chore: update eslint
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: add commit-message hook
  .husky/commit-msg
Due: none

feat: add continued line snippet
  package.json
  snippets/editor.actions.json
Due: none

chore: version bump
  CHANGELOG.md
Due: none

4.5.0
  package.json
Due: none

chore: update editorconfig
  .editorconfig
Due: none

chore: add prettier config
  prettier.config.json
Due: none

chore: require vscode 1.85 or later
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: migrate to nano-staged
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: update test script
  package.json
Due: none

feat: add line-continuation character to syntax definition
  syntaxes/nsis.tmLanguage
Due: none

Path conditions:
  eslint-code: any of: *.{js,ts}
  eslint-json: any of: *.{json}
  eslint-yaml: any of: *.{yaml,yml}
