Repository idleberg/vscode-nsis: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-code, eslint-json, eslint-yaml

eslint-code:
  run: npx eslint --cache --fix {staged_files}

eslint-json:
  run: npx eslint --cache --fix {staged_files}

eslint-yaml:
  run: npx eslint --cache --fix {staged_files}

version bump
  CHANGELOG.md
Due: none

4.2.4
  package.json
Due: none

update badges
  README.md
Due: none

add makensis log syntax
  package.json
  src/channel.ts
  syntaxes/makensis-log.tmLanguage
Due: eslint-code

update highlight rules
  syntaxes/makensis-log.tmLanguage
Due: none

update tooling
  .eslintrc.cjs
  .github/workflows/default.yml
  .github/workflows/stale.yml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: eslint-code, eslint-yaml

use husky v9
  .husky/pre-commit
Due: none

fix version
  CHANGELOG.md
Due: none

add external dependencies
  tsup.config.ts
Due: eslint-code

simplify channel
  src/channel.ts
Due: eslint-code

rename syntax
  package.json
  syntaxes/makensis.tmLanguage
Due: none

reduce bundle size
  src/channel.ts
  src/diagnostics.ts
  src/handlers.ts
  src/makensis.ts
  src/nlf.ts
  src/task.ts
  src/util.ts
Due: eslint-code

remove telemetry implementation
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/makensis.ts
  src/nlf.ts
  src/telemetry.ts
Due: eslint-code, eslint-yaml

remove remaining telemetry code
  package.json
  src/index.ts
Due: eslint-code

update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

preserve focus
  src/diagnostics.ts
  src/handlers.ts
  src/makensis.ts
  src/util.ts
Due: eslint-code

update changelog
  CHANGELOG.md
Due: none

fix indentation
  src/callbacks.ts
  src/diagnostics.ts
  src/handlers.ts
  src/index.ts
  src/makensis.ts
  src/nlf.ts
  src/task.ts
  src/util.ts
Due: eslint-code

add error case
  syntaxes/makensis.tmLanguage
Due: none

fix error output
  src/callbacks.ts
Due: eslint-code

rename callback functions
  src/callbacks.ts
  src/makensis.ts
Due: eslint-code

fix types
  types/index.d.ts
Due: eslint-code

bump makensis
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

4.3.0
  package.json
Due: none

update tsup config
  CHANGELOG.md
  tsup.config.ts
Due: eslint-code

4.3.1
  package.json
Due: none

update export
  src/index.ts
Due: eslint-code

refactor activate function
  src/index.ts
Due: eslint-code

split channels
  src/callbacks.ts
  src/channel.ts
  src/index.ts
Due: eslint-code

improve types
  src/callbacks.ts
  src/util.ts
Due: eslint-code

improve types
  src/callbacks.ts
  src/makensis.ts
  src/util.ts
Due: eslint-code

refactor
  CHANGELOG.md
  src/callbacks.ts
  src/channel.ts
  src/diagnostics.ts
  src/makensis.ts
  src/task.ts
  src/util.ts
Due: eslint-code

update config
  tsup.config.ts
Due: eslint-code

prepare config for esm
  tsup.config.ts
Due: eslint-code

version bump
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

Path conditions:
  eslint-code: any of: *.{js,ts}
  eslint-json: any of: *.{json}
  eslint-yaml: any of: *.{yaml,yml}
