Repository idleberg/vscode-nsis: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-code, eslint-json, eslint-yaml

eslint-code:
  run: npx eslint --cache --fix {staged_files}

eslint-json:
  run: npx eslint --cache --fix {staged_files}

eslint-yaml:
  run: npx eslint --cache --fix {staged_files}

refactor!: change scope of *group keywords
  syntaxes/nsis.tmLanguage
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: version bump
  CHANGELOG.md
Due: none

4.6.0
  package.json
Due: none

chore: add launch.json
  .vscode/launch.json
Due: none

chore: migrate to biome
  .github/workflows/default.yml
  .husky/pre-commit
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  biome.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.json
Due: eslint-yaml

chore: remove nano-staged
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: format
  commitlint.config.ts
  config/nlf.json
  config/nsis.json
  gulpfile.mjs
  src/callbacks.ts
  src/channel.ts
  src/diagnostics.ts
  src/index.ts
  src/makensis.ts
  src/nlf.ts
  src/task.ts
  src/util.ts
  tsup.config.ts
  types/index.d.ts
Due: eslint-code

chore: switch to lefthook
  .husky/commit-msg
  .husky/pre-commit
  biome.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: add strict syntax
  package.json
  syntaxes/nsis.strict.tmLanguage
Due: none

chore: remove nsis strict grammar
  package.json
Due: none

chore: remove nsis strict grammar
  syntaxes/nsis.strict.tmLanguage
Due: none

chore: fix lefthook integration
  lefthook.yml
  package.json
Due: eslint-yaml

chore: improve type handling
  src/callbacks.ts
  src/diagnostics.ts
  src/nlf.ts
Due: eslint-code

chore: improve condition
  src/makensis.ts
Due: eslint-code

chore: bump makensis
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: set editor.formatOnPaste to true
  .vscode/settings.json
Due: none

chore: replace gulp as image renderer
  .gitignore
  gulpfile.mjs
  package.json
  pnpm-lock.yaml
  resources/logo.png
Due: eslint-yaml

chore: switch to tsdown as bundler
  package.json
  pnpm-lock.yaml
  tsdown.config.ts
Due: eslint-code, eslint-yaml

chore: publish from github workflow
  .vscode/publish.yml
Due: eslint-yaml

chore: publish from github workflow
  .github/workflows/publish.yml
Due: eslint-yaml

chore: update dependencies
  CHANGELOG.md
Due: none

chore: fix linting errors
  src/callbacks.ts
  src/diagnostics.ts
  src/index.ts
  src/makensis.ts
  src/task.ts
  src/util.ts
Due: eslint-code

chore: update biome config
  biome.jsonc
Due: none

chore: update biome
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: use shared config
  biome.jsonc
  lefthook.toml
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: fix linter warning
  src/util.ts
Due: eslint-code

chore: install types for which and micromatch
  package.json
  pnpm-lock.yaml
  src/diagnostics.ts
Due: eslint-code, eslint-yaml

chore: remove direct dependencies
  .npmrc
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: update packageManager
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

chore: add public-hoist-pattern
  .npmrc
Due: none

chore: update tsconfig
  tsconfig.json
Due: none

chore: update vscode configs
  .vscode/settings.json
Due: none

chore: update packageManager
  package.json
Due: none

Path conditions:
  eslint-code: any of: *.{js,ts}
  eslint-json: any of: *.{json}
  eslint-yaml: any of: *.{yaml,yml}
