Repository idleberg/vscode-nsis: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-code, eslint-json, eslint-yaml

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-code:
      glob: "*.{js,ts}"
      run: npx eslint --cache --fix {staged_files}
    eslint-json:
      glob: "*.{json}"
      run: npx eslint --cache --fix {staged_files}
    eslint-yaml:
      glob: "*.{yaml,yml}"
      run: npx eslint --cache --fix {staged_files}

remove old lock file
  package-lock.json
Due: none

fix indentation
  tools/build.mjs
Due: none

fix syntax highligher
  syntaxes/nsis.tmLanguage
Due: none

refactor inRange
  package.json
  src/makensis.ts
  src/prototypes.ts
  src/task.ts
  src/util.ts
Due: eslint-code

version bump
  CHANGELOG.md
Due: none

add vsce and ovsx
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

add vsce and ovsx
  package.json
Due: none

downgrade
  package.json
Due: none

3.51.3
  package.json
Due: none

add message for missing makensis
  src/util.ts
Due: eslint-code

fix type
  src/util.ts
Due: eslint-code

add pnpm parameters
  .github/workflows/default.yml
Due: eslint-yaml

fix utm parameters
  snippets/core.NSIS.json
Due: none

update urls to online docs
  snippets/core.DrunkenNSIS.json
  snippets/core.NSIS.json
  src/util.ts
Due: eslint-code

add support for ${Case2…5}
  syntaxes/nsis.tmLanguage
Due: none

add support ${Case2…5}
  snippets/header.LogicLib.json
Due: none

add support for Case variants
  CHANGELOG.md
Due: none

3.51.4
  package.json
Due: none

change function/section order in scaffolding snippets
  snippets/scaffold.Basic.json
  snippets/scaffold.InstallOptions.json
  snippets/scaffold.Minimal.json
  snippets/scaffold.ModernUI.json
Due: none

allow lock-file
  .gitignore
Due: none

update dependencies
  package-lock.json
  package.json
Due: none

switch back to npm
  .github/workflows/default.yml
Due: eslint-yaml

switch to pnpm
  .github/workflows/default.yml
  .gitignore
  CHANGELOG.md
  package-lock.json
  pnpm-lock.yaml
Due: eslint-yaml

3.52.0
  package.json
Due: none

fix syntax error in action
  .github/workflows/default.yml
Due: eslint-yaml

change license
  LICENSE
  README.md
  package.json
Due: none

remove unused export
  src/util.ts
Due: eslint-code

set .editorconfig to root
  .editorconfig
Due: none

update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

update description
  README.md
Due: none

fix Shields.io badge
  README.md
Due: none

change default preprocessMode
  package.json
Due: none

fix badge
  README.md
Due: none

remove esbuild script
  package.json
  tools/build.mjs
Due: none
