Repository idleberg/vscode-nsis: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-code, eslint-json, eslint-yaml

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint-code:
      glob: "*.{js,ts}"
      run: npx eslint --cache --fix {staged_files}
    eslint-json:
      glob: "*.{json}"
      run: npx eslint --cache --fix {staged_files}
    eslint-yaml:
      glob: "*.{yaml,yml}"
      run: npx eslint --cache --fix {staged_files}

fix license description
  README.md
Due: none

add !assert command
  snippets/core.NSIS.json
  syntaxes/nsis.tmLanguage
Due: none

version bump
  CHANGELOG.md
Due: none

4.1.0
  package.json
Due: none

implement tracking
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/makensis.ts
  src/nlf.ts
  src/telemetry.ts
Due: eslint-code, eslint-yaml

refactor tracking
  package.json
  src/index.ts
  src/makensis.ts
  src/nlf.ts
  src/task.ts
  src/telemetry.ts
Due: eslint-code

update editorconfig
  .editorconfig
Due: none

improve typing
  src/makensis.ts
  src/util.ts
Due: eslint-code

update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

improve types
  src/diagnostics.ts
  src/util.ts
Due: eslint-code

downgrade dependencies
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

fixes, type improvments
  package.json
  src/handlers.ts
  src/index.ts
  src/telemetry.ts
Due: eslint-code

4.2.0
  package.json
Due: none

minor adjustments
  src/util.ts
Due: eslint-code

prevent errors
  src/diagnostics.ts
  src/util.ts
  types/index.d.ts
Due: eslint-code

improve type handling
  src/diagnostics.ts
  src/makensis.ts
Due: eslint-code

update makensis
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

version bump
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

version bump
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

4.2.1
  package.json
Due: none

add early returns
  src/util.ts
Due: eslint-code

update README
  README.md
Due: none

4.2.2
  package.json
Due: none

add link to telemetry chapter
  CHANGELOG.md
Due: none

keep undefined value
  src/telemetry.ts
Due: eslint-code

explicitely exclude VSCodium from tracking
  src/index.ts
  src/telemetry.ts
Due: eslint-code

4.2.3
  package.json
Due: none

replace npm-run-all
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

remove strict mode, comment
  gulpfile.mjs
Due: none

add fallback value
  src/util.ts
Due: eslint-code
