Repository idleberg/vscode-nsis: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-code, eslint-json, eslint-yaml

eslint-code:
  run: npx eslint --cache --fix {staged_files}

eslint-json:
  run: npx eslint --cache --fix {staged_files}

eslint-yaml:
  run: npx eslint --cache --fix {staged_files}

remove haskell support
  package.json
  snippets/core.Haskell.json
Due: none

Update dependencies
  package-lock.json
  package.json
Due: none

version bump
  CHANGELOG.md
Due: none

rename gulpfile
  CHANGELOG.md
  gulpfile.mjs
  package.json
Due: none

version bump
  package-lock.json
Due: none

3.49.0
  package.json
Due: none

fixes
  CHANGELOG.md
  package.json
Due: none

update readme
  README.md
Due: none

fix: upgrade @nsis/nlf from 0.9.0 to 0.10.1
  package-lock.json
  package.json
Due: none

add option to omit verbosity
  package.json
  src/makensis.ts
  src/prototypes.ts
  src/task.ts
Due: eslint-code

adjust type
  package.json
  src/prototypes.ts
Due: eslint-code

whitespace
  src/prototypes.ts
Due: eslint-code

fix: upgrade micromatch from 4.0.4 to 4.0.5
  package-lock.json
  package.json
Due: none

Remove dependency on "idleberg.haskell-nsis"
  package.json
Due: none

update dependencies
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

update lockfile
  package-lock.json
Due: none

3.50.0
  package-lock.json
  package.json
Due: none

remove David badge
  README.md
Due: none

add stale exemtion
  .github/workflows/stale.yml
Due: eslint-yaml

update dependencies
  package-lock.json
  package.json
Due: none

3.50.1
  package-lock.json
  package.json
Due: none

add Target
  syntaxes/nsis.tmLanguage
Due: none

fix snippets
  snippets/core.NSIS.json
Due: none

3.51.0
  package-lock.json
  package.json
Due: none

fix whitespace
  CHANGELOG.md
Due: none

fix Target attributes
  snippets/core.NSIS.json
  syntaxes/nsis.tmLanguage
Due: none

3.51.1
  package-lock.json
  package.json
Due: none

3.51.2
  package-lock.json
  package.json
Due: none

update .vscodeignore
  .vscodeignore
Due: none

modify default branch
  README.md
Due: none

update workflow
  .github/workflows/default.yml
Due: eslint-yaml

switch to pnpm
  .gitignore
  pnpm-lock.yaml
Due: eslint-yaml

update dependencies, fix config
  package.json
  pnpm-lock.yaml
Due: eslint-yaml

rename license
  LICENSE
Due: none

Path conditions:
  eslint-code: any of: *.{js,ts}
  eslint-json: any of: *.{json}
  eslint-yaml: any of: *.{yaml,yml}
